body {
    background: url("./img/pexels-kostas-anastassiu-5623823.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.container_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 350px;
    position: relative;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.form_sign-in,
.form_sign-up {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-user,
.input-email,
.input-password {
    padding: 10px;
    min-height: 45px;
    border: none;
}

.button-submit {
    margin: auto;
    max-width: 100px;
}

.overlay-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0%;
    transition: 0.5s;
    background: url("./img/pexels-kostas-anastassiu-5623823.jpg") no-repeat center fixed;
    background-size: cover;
    z-index: 3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.overlay-form.change-side {
    left: 50%;
    transition: 0.5s;
}

.button-submit,
.button-submit-overlay {
    background-color: #0367a6;
    border-radius: 20px;
    border: none;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
    max-width: 200px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button-submit:focus-visible,
.button-submit-overlay:focus-visible,
.button-submit:focus-within,
.button-submit-overlay:focus-within {
    outline: none;
}

.form_sign-up {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.right-panel-active .form_sign-up {
    opacity: 1;
    visibility: visible;
    left: 50%;
}

.form_sign-up {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.right-panel-active .form_sign-up {
    opacity: 1;
    visibility: visible;
    left: 50%;
}

.form_sign-in {
    transition: 0.5s;
}

.right-panel-active .form_sign-in {
    opacity: 0;
    visibility: hidden;
    left: 50%;
}